*{
    margin: 0px;
    padding: 0px;
}
table{
    margin: 200px auto;
    border: 2px solid #2b41af;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 2px 2px 10px blue;
}
td{
    border: 1px solid #2b41af;
    padding: 5px ;
    text-align: center;
    color: #cf0824;
}
th{
    border-bottom: 2px solid #2b41af;
    padding: 5px;
    text-align: center;
    border-left: 1px solid #2b41af;
    color: cornflowerblue;
}
td:hover{
    background-color: #cf0824;
    color: white;
    cursor: pointer;
}
th:hover{
    background-color: #2b41af;
    color: white;
    cursor: pointer;
}